{% load staticfiles %}
{% load static %}	
{% block content %}

	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Car Rentals</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}" type = 
			"text/css">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">			
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		</head>
		<body>

        <header id="header" id="home">
						<div class="container">
							<div class="row align-items-center justify-content-between d-flex">
								<div id="logo">
									<a href="#"><img src="{% static 'img/bikesharing-logo.png' %}" style="width: 50px; height: 50px;object-fit: contain;" /></a>
								</div>
								<nav id="nav-menu-container">
									<ul class="nav-menu">
										<li class="menu-active"><a href="#">Home</a></li>
										<li class="menu-has-children"><a href="{% url 'rent:list_rent' %}">Rent</a>
								<ul>
									<li><a href="{% url 'rent:rent' %}">Create Rent</a></li>
									<li><a href="{% url 'rent:list_rent' %}">List of Rents</a></li>
									
								</ul>
								</li>
										<li class="menu-has-children"><a href="{% url 'voucher:voucher' %}">Voucher</a>
								<ul>
									<li><a href="{% url 'voucher:form_voucher' %}">Create Voucher</a></li>
									<li><a href="{% url 'voucher:voucher' %}">List of Vouchers</a></li>
									
								</ul>
								</li>	
								<li class="menu-has-children"><a href="{% url 'penugasan:list_penugasan' %}">Assignment</a>
									<ul>
										<li><a href="{% url 'penugasan:penugasan' %}">Create Assignment</a></li>
										<li><a href="{% url 'penugasan:list_penugasan' %}">List of Assignments</a></li>
										
									</ul>
									</li>
								<li class="menu-has-children"><a href="{% url 'acara:list_acara' %}">Event</a>
								<ul>
									<li><a href="{% url 'acara:acara' %}">Create Event</a></li>
									<li><a href="{% url 'acara:list_acara' %}">List of Events</a></li>
									
								</ul>
							</li>	
	
								<li class="menu-has-children"><a href="{% url 'stasiun:list_stasiun' %}">Station</a>
								<ul>
									<li><a href="{% url 'stasiun:stasiun' %}">Create Station</a></li>
									<li><a href="{% url 'stasiun:list_stasiun' %}">List of Stations</a></li>
									
								</ul>
							</li>	
	
							<li class="menu-has-children"><a href="{% url 'sepeda:list_sepeda' %}">Bike</a>
								<ul>
									<li><a href="{% url 'sepeda:sepeda' %}">Create Bike</a></li>
									<li><a href="{% url 'sepeda:list_sepeda' %}">List of Bikes</a></li>
									
								</ul>
							</li>	
							 
								
										<li class="menu-has-children"><a href="{% url 'account:login' %}">Log In</a>
											<ul>
												<li><a href="{% url 'account:register' %}">Register</a></li>
									<li><a href="{% url 'transaksi:transaksi' %}">Transaction</a></li>
									<li><a href="{% url 'laporan:laporan' %}">Reports</a></li>
											</ul>
										</li>			          
									</ul>
								</nav><!-- #nav-menu-container -->		    		
							</div>
						</div>
					</header><!-- #header -->
              
              <section class="feature-area section-gap" id="service">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-8 pb-40 header-text">
                                <h1>List Stasiun</h1>
                            </div>
                        </div>
                        <div class="row">
                            <a href="" class="genric-btn primary-border circle arrow center-block">Sort</a>
                            <table class="table" id="vouchertable">
                                  <thead>
                                    <tr>
                                      
                                     
                                      <th scope="col">Stasiun ID</th>
                                      <th scope="col">Nama Stasiun</th>
                                      <th scope="col">Alamat</th>
                                      <th scope="col">Latitude</th>
                                      <th scope="col">Longtitude</th>
                                    </tr>
                                  </thead>
    
                                  <tbody>
                                        {% for i in stasiun %}
                                    <tr>
                                            <!-- <th scope="row"></th> -->
                                      
                                      <td>{{i.0}}</td>
                                      <td>{{i.4}}</td>
                                      <td>{{i.1}}</td>
                                      <td>{{i.2}}</td>
                                      <td>{{i.3}}</td>
                                     
                                     
                        
                                      <td>
                                          <button type="reset" class="primary-btn" data-toggle="modal" data-target="#exampleModal" id="{{i.0}}" onclick ="update_modal_stasiun(this.id)">Update</button>
                                        <button type="reset" class="primary-btn" type="button" class="btn btn-primary" id="{{i.0}}" onclick="delete_list_stasiun(this.id)">Delete</button>
                                        {% endfor %}

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Update Stasiun</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <form id="load" class="true">
                                                  {% csrf_token %}
                                                  <div class="form-group">
                                                    <label for="formGroupExampleInput">Nama</label>
                                                    <input type="text" class="form-control" id="namaStasiun" placeholder="Nama">
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="formGroupExampleInput2">Alamat</label>
                                                    <input type="text" class="form-control" id="alamatStasiun" placeholder="Alamat">
                                                  </div>
                                                  <div class="form-group">
                                                      <label for="formGroupExampleInput2">Latitude</label>
                                                      <input type="text" class="form-control" id="Latitude" placeholder="Latitude">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="formGroupExampleInput2">Longitude</label>
                                                        <input name="longitude" type="text" class="form-control" id="Longitude" placeholder="Longitude">
                                                      </div>
                                              </form>
                              
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary" onclick="update_stasiun()">Update Stasiun</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
    
                                  </tbody>
                            
                            </table>
                            <ul class="pager">
                          <li class="previous"><a href="#">Previous</a></li>
                          <li class="next"><a href="#">Next</a></li>
                        </ul>			
                        </div>
                    </div>	
                </section>

	<!-- start footer Area -->		
    <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Quick links</h6>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>								
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Features</h6>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>								
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget">
                            <h6>Resources</h6>
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Brand Assets</a></li>
                                <li><a href="#">Investor Relations</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>								
                        </div>
                    </div>												
                    <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                        <div class="single-footer-widget">
                            <h6>Follow Us</h6>
                            <p>Let's be social</p>
                            <div class="footer-social d-flex align-items-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>							
                    
                    <p class="mt-50 mx-auto footer-text col-lg-12">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>											
                </div>
            </div>
        </footer>	
        <!-- End footer Area -->		

        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>			
          <script src="{% static 'js/easing.min.js' %}"></script>			
        <script src="{% static 'js/hoverIntent.js' %}"></script>
        <script src="{% static 'js/superfish.min.js' %}"></script>	
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>			
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>	
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'js/jquery.counterup.min.js' %}"></script>					
        <script src="{% static 'js/parallax.min.js' %}"></script>		
        <script src="{% static 'js/mail-script.js' %}"></script>	
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/stasiun.js' %}"></script>
    </body>
</html>

{% endblock content %}